@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


// Functions
@mixin divPadder($top,$bottom,$right,$left){
    padding-top:$top;
    padding-bottom:$bottom;
    padding-right:$right;
    padding-left:$left;
}

@mixin textMaker($size,$uppercase,$letterspace,$weight,$color){
    font-size:$size;
    text-transform: $uppercase;
    letter-spacing: $letterspace;
    font-weight:$weight;
    color:$color;
}

// Global Variables
$dark : #1B1E28;
$dark2 : #2C4459;
$white: #ffffff;
$highlight: #1EB1E6;
$secondary: #E9F3F8;



body{
    font-family: "Bai Jamjuree", serif;
}

//Style Begins Here
.sp-hero{
    background: url(../images/sp-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include divPadder(20px,60px ,0px ,0px );
    min-height:730px;

    .sp-logo{
        width:50%;
    }

    // Navigation Styling
    .sp-nav{
        background-color: $dark;
        border-radius: 20px 20px 20px 160px;
        @include divPadder(20px,20px ,20px ,40px );
        display:flex;
        flex-wrap: wrap;
        gap:20px;
        align-items: center;
        margin-top:10px;

        a{
           @include textMaker(12px,uppercase ,0 ,700 ,$white );
           text-decoration:none;
        }

        a:hover{
            color:$highlight;
            transition: 0.43s ease-in-out;
        }

        .sp-button{
            @include divPadder(10px,10px ,10px ,10px );
            text-align: center;
            border:1px solid $white;
        }

        .sp-button:hover{
            border: 1px solid $highlight;
            transition: 0.43s ease-in-out;
            color:$highlight;
        }

        .sp-lang-button{
            background-color: $dark2;
            @include divPadder(10px,10px,5px,5px );
            @include textMaker(12px,uppercase ,0px ,700 , $white);
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap:5px;

            img{
                width:16px;
                height:auto;
            }
        }

        .sp-lang-button:hover{
            scale:1.13;
            transition: 0.4s ease-in-out;

            a{
                color:$white;
            }
        }

        .sp-menu-button{
            background-color: $highlight;
            @include divPadder(10px,10px ,10px ,10px );
            display:flex;
            flex-wrap: wrap;
            gap:5px;
            align-items: center;

            img{
                width:20px;
                height:auto;
            }
        }

        .sp-menu-button:hover{

            background-color: $dark2;
            transition: 0.43s ease-in-out;
            color:$white;

            a{
                color:$white;
            }

        }
    }

    // Hero Body Styling
    .sp-hero-img{
        margin-top:60px;
        width:100%;
        height:auto;
    }

    .sp-hero-refs{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top:20px;

        span{
           background-color: #9A9A9A;
           @include divPadder(5px,5px ,10px ,10px );
           @include textMaker(12px,none ,0 ,700 ,$white );
           border-radius:5px;
        }
    }

    .sp-hero-cont{
        margin-top:60px;

        h4{
            @include textMaker(10px,uppercase ,1px ,700 ,#AAA9A9 );
        }

        h1{
            @include textMaker(32px,none ,0 ,700 ,$dark );
            margin-top:10px;
        }

        p{
            @include textMaker(16px,none ,0 ,400 ,$dark );
            margin-top:15px;

            span{
                font-weight:700;
            }
        }

        .sp-check-div{
            display:flex;
            flex-wrap:wrap;
            justify-content: flex-start;
            align-items: center;
            gap:10px;
            margin-top:10px;

            img{
                width:35px;
                height:auto;
            }

            p{
                margin-top:0px;
            }
        }

        .sp-hero-bottom{
            margin-top:30px;
            display:flex;
            flex-wrap: wrap;
            gap:20px;

            .sp-hero-badge-img{
                margin-top: 25px;
            }
            

            p{
                margin-top:0px;
            }

            a{   
                text-decoration:none;

                .sp-hero-button{
                    background-color: $highlight;
                    @include divPadder(10px,10px ,10px ,10px );
                    border-radius:10px;
                    @include textMaker(14px,none ,0 ,700 ,$white );
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: space-between;
                    align-items: center;
                    gap:30px;
                    
                }

                .sp-hero-button:hover{
                    background-color: $dark;
                    transition: 0.43s ease-in-out;
                }

            }

            .sp-hero-form{
                margin-top:10px;
                display:flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                select{
                    background-color: $white;
                    border:1px solid #AAA9A9;
                    border-radius: 10px;
                    @include divPadder(10px,10px ,10px ,10px )
                }

                input[type=submit]{
                    background-color: #4FB246;
                    border-radius: 10px;
                    @include divPadder(10px,10px ,10px ,10px );
                    text-align:center;
                    @include textMaker(12px,uppercase ,0px ,700 ,$white );
                    border: none;
                }

                input[type=submit]:hover{
                    background-color: $highlight;
                    transition: 0.43s ease-in-out;
                }
            }
        }
    }
}


//Phone Area Styling
.sp-phone-banner{
    background-color: $highlight;
    @include divPadder(10px,10px ,0px ,0px );   
    text-align: center;

    a{
        @include textMaker(16px, uppercase,0px ,700 ,$white );
        text-decoration: none;
    }

    a:hover{
        font-size: 17px;
        transition: 0.43s ease-in-out;
    }

    img{
        margin-right:15px;
    }
}

// Special Media Query to handle the hero area
@media (max-width: 1224px) {
    
    .sp-hero{
        background-color: $white;
        background-image: none;

        .sp-logo{
            width: 70%;
            margin-top:10px;
        }
    }

    .sp-sm-bg{
        background-color: $dark;
        margin-top:-40px;
        @include divPadder(20px,20px ,0px ,0px );
    }

    .sp-nav{
        justify-content: flex-end;
    }

}

@media (max-width: 760px) {

    .sp-hero{
        .sp-logo{
            width: 100%;
            margin-top:20px;
        }
    }

}


// Nav Menu Modal
.sp-nav-modal{
    position:fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:9999;
    overflow: auto;
    background-color: $dark;
    @include divPadder(40px,40px ,0px , 0px); 

    .sp-nav-modal-head{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        @include textMaker(32px,none ,0px ,700 ,$white );

        a{
            text-decoration: none;

            .sp-modal-close{
            background-color: $highlight;
            @include divPadder(10px,10px ,10px ,10px );
            @include textMaker(14px,uppercase ,0px ,700 ,$white );
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            gap:5px;
           
            }

            .sp-modal-close:hover{
                scale:1.13;
                transition: 0.43s ease-in-out;
            }
        }
    }

    nav{

        li{
            
            list-style: none; /* Removes bullet points */
            padding: 0; /* Removes default padding */
            margin: 0; /* Removes default margin */
            margin-bottom:30px;

            a{
                @include textMaker(20px,uppercase ,0px ,700 ,$white );
                text-decoration: none;
            }
            a:hover{
                color:$highlight;
                transition: 0.43s ease-in-out;
            }
        }
    }

    .sp-nav-aligner{
        margin-top:50px;
    }

    .sp-ratgeber{

        @include divPadder(20px,20px ,20px ,20px );
        background-color: $dark2;

        h3{
            @include textMaker(20px,uppercase ,0px ,700 ,$white );
            margin-top:0px;
        }

        .sp-ratgeber-body{
            display:flex;
            gap:15px;
            align-items:flex-start;

            h4{
                @include textMaker(16px,uppercase ,0px ,700 ,$white ); 
            }

            i{
                color:$dark;
                font-weight:700;
            }
        }

        .sp-ratgeber-check{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            gap:10px;
            @include textMaker(12px,none ,0px ,400 ,$white );
            margin-top:20px;
        }

        a{

            text-decoration: none;

            .sp-ratgeber-button{
                background-color: $highlight;
                @include divPadder(10px,10px ,20px ,20px );
                margin-top:20px;
                @include textMaker(16px,none ,0px ,700 , $white);
                text-align: center;
                border-radius: 10px;
            }

            .sp-ratgeber-button:hover{
                background-color: $dark;
                transition: 0.43s ease-in-out;
            }
        }
    }

    .sp-nav-newsletter{
        background-color: $dark2;
        @include divPadder(15px,15px,20px ,20px );
        @include textMaker(24px,none ,0px ,700 ,$white );
        margin-top:10px;

        .sp-nav-newsletter-head{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;
        }

        .sp-nav-newsletter-form{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            width:100%;

            form{
                width:100%;
            }

            input[type=email]{
                border-radius:10px;
                background-color: $white;
                @include textMaker(12px,none ,0px ,400 ,$dark );
                @include divPadder(10px,10px ,20px ,20px );
                outline:none;
                border:none;
            }
            input[type=email]:focus{
                border:1px solid $highlight;
            }
            input[type=submit]{
                border-radius:10px;
                background-color: $highlight;
                @include textMaker(12px,none ,0px ,400 ,$white );
                @include divPadder(10px,10px ,20px ,20px );
                outline:none;
                border:none;
            }
            input[type=submit]:hover{
                background-color: $dark;
                transition: 0.43s ease-in-out;
            }
        }
    }


    a{
        text-decoration: none;
        color:$white;
        .sp-button{
            @include divPadder(10px,10px ,10px ,10px );
            text-align: center;
            border:1px solid $white;
            margin-bottom:20px;
        }

        .sp-button:hover{
            border: 1px solid $highlight;
            transition: 0.43s ease-in-out;
            color:$highlight;
        }
    }

}

.sp-lang-wrapper{
    position:relative;

    .sp-lang-dropdown{
        position:absolute;
        background-color: $dark;
        @include divPadder(10px,10px ,10px ,10px );
        border-radius: 10px;

        ul{
            list-style: none; 
            margin:0;
            padding:0;
        }
    }
}


// Styling of Section 1
.sp-iconblock{
    box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -webkit-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -moz-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    border-radius: 20px;
    padding:20px;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    width:100%;

    h2{
        @include textMaker(20px,none ,0px ,700 ,$dark );
        margin-top:10px;
    }

    p{
        @include textMaker(14px,none ,0px ,400 ,$dark );
    }

    span{
        @include textMaker(16px, none,0px ,700 ,$dark2 );
    }

    img{
        width:60px;
        height:auto;
    }
}

.sp-iconblock:hover{
    scale:1.03;
    transition: 0.3s ease-in-out;
}


//Styling of Section 2
.sp-section2{
    background-color: #F9FDFF;
    @include divPadder(30px,30px,0px ,0px );

    h4{
        @include textMaker(16px,uppercase ,3px ,700 ,$highlight );
    }

    h1{
       @include textMaker(32px,none ,0px ,700 ,$dark ); 
    }
    p{
       @include textMaker(16px,none ,0px ,400 ,$dark );
       margin-bottom:20px;
       
       span{
        font-weight:700;
       }
    }
    h3{
        @include textMaker(20px,none ,0px ,700 ,dark );
        margin-bottom:20px;
    }

    a{
        text-decoration: none;

        .sp-sec2-button1{
            background-color: $highlight;
            @include divPadder(10px,10px ,20px ,20px );
            border:none;
            outline:none;
            border-radius:10px;
            @include textMaker(14px,none ,0px ,700 ,$white );
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:20px;
        }

        .sp-sec2-button1:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }

        .sp-sec2-button2{
            background-color: #4FB246;
            @include divPadder(10px,10px ,20px ,20px );
            border:none;
            outline:none;
            border-radius:10px;
            @include textMaker(14px,none ,0px ,700 ,$white );
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:20px;
        }

        .sp-sec2-button2:hover{
            background-color: $dark2;
            transition: 0.43s ease-in-out;
        }
    }

    span{
        color:#4FB246;
        font-weight:700;
    }
}

.sp-check{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    align-items: center;
    @include textMaker(16px,none ,0px ,400 ,$dark );
    margin-bottom:10px;

    img{
        width:34px;
        height:34px;
    }
}

.sp-double{
    display:flex;
    width:100%;
    gap:0px;
    align-items: center;
    
    .sp-double-l{
        background-color: $dark;
        padding:10px 20px;
        border-radius:10px 0px 0px 10px;
        display:flex;
        justify-content: flex-start;
        gap:3px;
        @include textMaker(12px,uppercase ,0px ,700 ,$white );
        align-items: center;
        min-height:60px;

        img{
            width:34px;
            height:auto;
        }
    }

    .sp-double-r{
        background-color: $dark2;
        padding:10px 30px;
        border-radius: 0px 10px 10px 0px;
        text-align: center;
        @include textMaker(12px,none ,0px ,400 ,$white );
        min-height:60px;
        display:flex;
        align-items: center;
    }

}


// 5 Steps Section
.sp-arrow{
   text-align: center;
   margin-top:15px;
   margin-bottom:15px;

   img:hover{
    scale:1.13;
    transition: 0.43s ease-in-out;
   }
}

.sp-step-block{
    position:relative;
    padding:20px;
    box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -webkit-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -moz-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    border-radius:20px;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;

    img{
        width:65px;
        height:auto;
    }

    h2{
        @include textMaker(14px,none ,0px ,700 ,$dark );
        margin-top:15px;
    }

    p{
        @include textMaker(12px,none ,0px ,400 ,$dark );
        margin-bottom:15px;
    }

    .sp-step-number{
        position:absolute;
        top:-15px;
        right:10px;
        @include textMaker(64px,none ,0px ,900 ,#F2F2F2 );
    }

    .sp-wrapper{
        background-color: #f3f3f3;
        height:7px;
        width:80%;
        border-radius:40px;
        position:absolute;
        bottom:15px;

        .sp-progress{
            background-color: #4FB246;
            height:7px;
            border-radius: 40px;
        }
    }

    .sp-step-check{
        position:absolute;
        top:-20px;
        left:20px;

        img{
            width:50px;
            height:auto;
        }
    }

}

.sp-step-block:hover{
    scale:1.03;
    transition: 0.3s ease-in-out;
}

.sp-step-mobile{
    position:relative;
    padding:20px;
    box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -webkit-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -moz-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    border-radius:20px 20px 0px 0px;
    margin-top:20px;
    margin-bottom:2px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap:15px;
    align-items: center;

    img{
        width:65px;
        height:auto;
    }

    h2{
        @include textMaker(20px,none ,0px ,700 ,$dark );
    }

    p{
        @include textMaker(14px,none ,0px ,400 ,$dark );
    }

    .sp-step-number{
        @include textMaker(64px,none ,0px ,900 ,#F2F2F2 );
        margin-left:auto;
    }

    .sp-step-check{
        position:absolute;
        top:-20px;
        left:20px;

        img{
            width:50px;
            height:auto;
        }
    }
}

.sp-step-footer{
    padding:20px;
    box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -webkit-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    -moz-box-shadow: 5px -1px 24px 11px rgba(18,35,79,0.12);
    margin-bottom:20px;
    border-radius:0px 0px 20px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    .sp-wrapper{
        background-color: #f3f3f3;
        height:7px;
        width:50%;
        border-radius:40px;

        .sp-progress{
            background-color: #4FB246;
            height:7px;
            border-radius: 40px;
        }
    }

    button{
        background-color: $highlight;
        padding:10px;
        @include textMaker(12px,none ,0px ,700 ,$white );
        text-align: center;
        border:none;
        outline:none;
        border-radius: 10px;
    }
    button:hover{
        background-color: $dark;
        transition: 0.43s ease-in-out;
    }
}

.sp-button-default{
    background-color: $highlight;
    padding:10px;
    border:none;
    outline:none;
    border-radius:10px;
    width:100%;
    @include textMaker(16px,none ,0px ,700 ,$white );
    text-align: center;
    text-decoration: none;
}

.sp-button-default:hover{
    background-color: $dark;
    transition: 0.43s ease-in-out;
}

.sp-section3-footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;

    img:hover{
        scale:1.03;
        transition: 0.43s ease-in-out;
    }
}


.sp-section3-arrow{
    display:flex;

    img{
        margin-top:300%;
    }
}

// Special Media Query to handle the hero area
@media (max-width: 1000px) {

    .sp-section3-arrow{
        justify-content: space-around;
        img{
            margin-top:20px;
            transform: rotate(90deg);
        }
    }

    .sp-section3-footer{
        margin-bottom:20px;
    }
}

.sp-blue-separator{
    border-bottom:13px solid $highlight;
}


.sp-default-head{
    margin-top:40px;
    margin-bottom:40px;
    text-align: center;

    h4{
        @include textMaker(16px, uppercase, 2px, 700, $highlight);
    }

    h1{
        @include textMaker(32px,none ,0px ,700 ,$dark );
        margin-top:20px;
    }

    h2{
        @include textMaker(32px, none, 0px,400 ,$dark );
    }

    p{
       @include textMaker(16px,none ,0px ,400 ,$dark );
    }

    a{
        text-decoration: none;
        width:100%;
        display:flex;
        justify-content: space-around;
        .sp-button-default{
            width:460px;
        }

        .sp-button-primary{
            background-color: $highlight;
            display:flex;
            justify-content: space-between;
            @include divPadder(10px,10px ,30px ,30px );
            gap:30px;
            border:none;
            outline:none;
            border-radius:10px;
            @include textMaker(16px,none ,0px ,700 ,$white );
            margin-top:20px;
        }
        .sp-button-primary:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }
}

.sp-sect4-block{
    background-color: #E9F3F8;
    width:100%;
    border-radius:20px;
    @include divPadder(15px,15px ,20px ,20px );
    margin-bottom:20px;
    
    h2{
        @include textMaker(24px,none ,0px ,700 ,$dark );
    }

    p{
        @include textMaker(16px,none ,0px ,400 ,$dark );
    }
    img{
        margin-bottom:15px;
    }
    img:hover{
        scale:1.13;
        transition: 0.3s ease-in-out;
    }
}


.sp-google-review{
    background-color: #F8F8F9;
    padding:20px;
    border-radius:20px;
    margin-top:20px;
    text-align: center;

    h2{
        @include textMaker(16px,none ,0px ,700 ,$dark );
    }
    h4{
        @include textMaker(14px,uppercase ,0px ,400 ,$dark );
    }
    p{
        @include textMaker(14px,none ,0px ,400 ,$dark );
    }
}


.sp-section6{

    background-color: #F9FDFF;
    @include divPadder(60px,30px ,0px ,0px );
    margin-top:20px;
    text-align: center;

    h4{
        @include textMaker(16px,uppercase ,2px ,700 ,$highlight );
    }

    h2{
        @include textMaker(32px, none,0px ,700 ,$dark );
    }
    p{
        @include textMaker(16px,none ,0px ,400 ,$dark );
    }

    .sp-check{
        background-color: #E9F3F8;
        @include divPadder(10px,10px ,30px ,30px );
        border-radius:20px;
        display:flex;
        justify-content: flex-start;
        flex-wrap:wrap;
        margin-bottom:20px;
    }

    a{
        text-decoration: none;

        .sp-button-primary{
            background-color: $highlight;
            display:flex;
            justify-content: space-between;
            @include divPadder(10px,10px ,30px ,30px );
            gap:30px;
            border:none;
            outline:none;
            border-radius:10px;
            @include textMaker(16px,none ,0px ,700 ,$white );
        }
        .sp-button-primary:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }

    
    .sp-hero-form{
        margin-top:10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:100%;

        form{
            width:100%;
        }

        select{
            background-color: $white;
            border:1px solid #AAA9A9;
            border-radius: 10px;
            @include divPadder(10px,10px ,10px ,10px );
            width:60%;
        }

        input[type=submit]{
            background-color: #4FB246;
            border-radius: 10px;
            @include divPadder(10px,10px ,10px ,10px );
            text-align:center;
            @include textMaker(12px,uppercase ,0px ,700 ,$white );
            border: none;
            width:30%;
        }

        input[type=submit]:hover{
            background-color: $highlight;
            transition: 0.43s ease-in-out;
        }
    }
}


.sp-section8{
    background-image: url(../images/sp-bg-sect8.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    @include divPadder(60px,60px ,0px ,0px );

    h1{
        @include textMaker(32px,none ,0px ,700 ,$white );
    }

    a{
        text-decoration: none;

        .sp-button-primary{
            background-color: $highlight;
            @include divPadder(10px,10px ,30px ,30px );
            @include textMaker(16px,none ,0px , 700, $white);
            display:flex;
            justify-content: space-between;
            border-radius:10px;
            margin-top:20px;
            width:430px;
        }
        .sp-button-primary:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }
}

// Special Media to remove background in tablet and mobile
@media (max-width: 1000px) {

    .sp-section8{
        background-image: none;
        background-color: $dark2;
    }
}


//FAQ Styling
.sp-faq-head{
    background-color:$dark2 ;
    padding:20px;
    width:100%;
    display:flex;
    gap:20px;
    align-items: center;
    border-radius: 20px;
    @include textMaker(20px,none ,0px ,700 ,$white );
    margin-top:20px;
}

.sp-faq-head-open{
    background-color:$dark2 ;
    padding:20px;
    width:100%;
    display:flex;
    gap:20px;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    @include textMaker(20px,none ,0px ,700 ,$white );
    margin-top:20px;
}

.sp-faq-body{
    background-color:#E9F3F8;
    padding:40px;
    border-radius:0px 0px 20px 20px;
    @include textMaker(16px,none ,0px ,400 ,$dark );
}

//When FAQ Is Closed
.sp-faq-action{
    transform: rotate(180deg);
    margin-left:auto;
}

//When FAQ Is Open
.sp-faq-action-open{
    transform: rotate(0deg);
    margin-left:auto;
}

.sp-faq-action:hover, .sp-faq-action-open:hover{
    scale:1.13;
    transition: 0.43s ease-in-out;
}

.sp-phone{
    display:flex;
    justify-content: space-around;
    gap:20px;

    a{
        text-decoration: none;
        @include textMaker(16px,none ,0px ,700 ,$highlight );
    }
}

.sp-default-foot{

    display:flex;
    justify-content: space-around;

    a{
        text-decoration: none;
    
        .sp-button-secondary{
            background-color: #4FB246;
            width:460px;
            @include divPadder(10px,10px ,30px ,30px );
            border-radius:10px;
            @include textMaker(14px,none ,0px ,700 , $white);
            display:flex;
            justify-content: space-between;
            margin-top:20px;
            margin-bottom:20px;
        }

        .sp-button-secondary:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }
}

.sp-section14{

    margin-top:60px;
    a{
        text-decoration: none;

        .sp-button-primary{
            background-color: $highlight;
            @include divPadder(10px,10px ,30px ,30px );
            @include textMaker(16px,none ,0px ,700 ,$white );
            display:flex;
            justify-content: space-between;
            border-radius:10px;
            margin-top:20px;
        }
        .sp-button-primary:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }

    h1{
        @include textMaker(32px,none ,0px ,700 ,$dark );
    }

    p{
        @include textMaker(16px,none ,0px ,400 ,$dark );
    }
}





//Footer Styling

.sp-footer{
    background-color:#F5F5F5;
    @include divPadder(30px,30px ,0px ,0px );
    margin-top:40px;

    .sp-footer-action{
        display:flex;
        justify-content: flex-end;
        gap:20px;
        margin-top:30px;
        flex-wrap:wrap;

        a{
            text-decoration: none;

            .sp-button-primary{
                background-color: $highlight;
                @include divPadder(10px,10px ,20px ,20px );
                border-radius:10px;
                @include textMaker(16px,none ,0px ,700 ,$white );
            }

            .sp-button-primary:hover{
                background-color: $dark;
                transition: 0.43s ease-in-out;
            }

            .sp-button-secondary{
                background-color: #4FB246;
                @include divPadder(10px,10px ,20px ,20px );
                border-radius:10px;
                @include textMaker(16px,none ,0px ,700 ,$white );
            }
            .sp-button-secondary:hover{
                background-color: $dark2;
                transition: 0.43s ease-in-out;
            }
        }

       

       
    }

    h2{
      @include textMaker(20px,none ,0px ,700 ,$dark );   
    }

    p{
      @include textMaker(14px,none ,0px ,400 ,$dark );
    }

    .sp-phone{
       
        margin-top:15px;
        float:left;

        a{
            display:flex;
            justify-content: flex-start;
            gap:15px;
            @include textMaker(16px,none ,0px ,700 ,$dark );
            align-items: center;

            div{
                display:block;

                p{
                    margin-bottom:5px;
                    margin-top: 0px;
                }
            }
        }
       
    }

    nav{

        ul{
            list-style: none;
            padding: 0;    
            margin: 0; 

            li{

                margin-bottom:10px;

                a{
                  @include textMaker(14px,uppercase ,2px ,400 ,$dark );
                  text-decoration: none;
                }
                a:hover{
                    color:$highlight;
                    transition: 0.43s ease-in-out;
                }
            }
        }
    }

    .sp-newsletter-form{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        width:100%;
        margin-top:20px;

        form{
            width:100%;
        }

        input[type=email]{
            border-radius:10px;
            background-color: $white;
            @include textMaker(12px,none ,0px ,400 ,$dark );
            @include divPadder(10px,10px ,20px ,20px );
            outline:none;
            border:1px solid #AAA9A9;
        }
        input[type=email]:focus{
            border:1px solid $highlight;
        }
        input[type=submit]{
            border-radius:10px;
            background-color: $highlight;
            @include textMaker(12px,none ,0px ,400 ,$white );
            @include divPadder(10px,10px ,20px ,20px );
            outline:none;
            border:none;
        }
        input[type=submit]:hover{
            background-color: $dark;
            transition: 0.43s ease-in-out;
        }
    }

    .sp-social{
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        gap:15px;
        margin-top:15px;

        img:hover{
            scale:1.13;
            transition: 0.3s ease-in-out;
        }
    }

    .sp-copyright{
        display:flex;
        justify-content: space-between;
        margin-top:20px;
        margin-bottom:20px;
        @include textMaker(16px,uppercase ,0px ,700 ,$dark );

        a:hover{
            color:$highlight;
            transition: 0.43s ease-in-out;
        }
    }
}

a {

    .sp-google-img{
        width:500px;
        height:auto;
    }

}

@media (max-width:1000px){
    .sp-footer{
        .sp-footer-action{
            justify-content: space-around;
        }
    }

    a{

        .sp-google-img{
            width:100%;
        }

    }
}